@font-face {
  font-family: 'B Roya';
  src: local('B Roya'), url('../fonts/2roya.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Iranian Sans';
  src: url('../fonts/irsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Iranian Sans';
  src: url('../fonts/irsansb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/**
  General
*/
body {
  padding-top: 50px;
  font-family: Tahoma, 'Iranian Sans', Arial;
}
a {
  color: #5b6268;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #5b6268;
}



.navbar-brand {
  font-family: 'Iranian Sans', Tahmoa;
  font-weight: bold;
  font-size: 20px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: rgba(60, 60, 60, 0.85);
    color: #eeeeee;
  }
  .sidebar a {
    font-size: 16px;
    color: #eeeeee;
  }
}



/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/**
* blog related
*/
div.blog-post-area{
  margin: 10px;
  padding: 10px;
  background-color: rgba(209, 209, 209, 0.4);
}

.blog-teaser .body{
  font-size: 18px;
}
.blog-teaser .btn {
  float: left;
}
/* Blog main page paging */
.paging {
  text-align: left;
}

article.blog-post , aside.social-icons , aside.comments , .create-comment{
  margin: 10px;
  padding: 10px 30px 10px 30px;
}

article.blog-post{
  background-color: rgba(209, 209, 209, 0.7);
}
.blog-post p{
  text-align: justify;
  word-break: hyphenate;
}
.blog-post .body{
  padding-right: 0px;
}

/**
  articles style
*/
aside.social-icons{
  background-color: rgba(70,70,70,0.4);
}
.social-icon:first-child {
  margin-left: 70px;
}
.social-icon:last-child {
  margin-left: 0px;
}

aside.comments{
  background-color: rgba(220,220,220,0.7);
}
aside.comments .comment{
  margin: 100px 0 0 0;
  padding: 10px;
}
article.comment{
  background-color: rgba(86, 86, 86, 0.4);
}

article.comment.reply{
  background-color: rgba(61, 61, 61, 0.6);
}

aside.create-comment{
  margin-bottom: 10px;
  background-color: rgba(220,220,220,0.5);
}

/* .blog-main:before {
  right: +16px;
}
.blog-aside:before {
  left: -15px;
}
 */

.blog-main:before,
.blog-aside:before {
  border-left: 0px;
}
aside.blog-aside{
  background-color: rgba(209, 209, 209, 0.4);
} 
aside.comments .comment.reply {
  margin-right: 100px;
}
aside.comments .comment header img {
  float: right;
}