#{extends 'admin.html' /}
#{set 'title'} &{'blog.newPost.title'} #{/set}
#{set 'withSummer'} true #{/set}
#{set 'chosen'} true #{/set}


<h1 class="page-header">
  &{'admin.blog.editPost.pageHeader'}
  <span class="pull-left"> <a href="@{deletePost(post.id)}" class="btn btn-danger confirm-target">حذف</a> </span>
</h1>
<div class="page-container new-post">
  #{form @updatePost(post.id), method:'POST', enctype:'multipart/form-data'}
  <fieldset>

    #{fields.enumRelationField bName:'post', name:'type' , values:models.PostType.values(), selected:post.type /}

    <div class="form-group">
      <label for="teaser-icon-input" class="control-label"></label>
      <div class="col-sm-10">
        <input id="teaser-icon-input" name="post.teaserIconUrl" type="hidden" role="uploadcare-uploader"
          data-image-shrink="" data-images-only="true" data-preview-step="true" data-clearable="true"
          data-multiple="false" data-system-dialog="false" data-crop="300x300 minimum" value="${post?.iconUrl}" />
      </div>
      <div class="col-sm-2">
        <img class="img-thumbnail gallery-header-icon" src="@{getPostTeaserIcon(post.id)}">
      </div>
    </div>

    <div class="form-group">
      <label for="post_title">&{'post.title'}</label>
      <input type="text" class="form-control" id="post_title" name="post.title" placeholder="&{'post.title'}" value="${post?.title}">
    </div>

    <div class="form-group">
      <label for="header-icon-input">&{'admin.blog.newPost.headerIcon.label'}</label>
      <div class="col-sm-10">
        <input id="header-icon-input" name="post.iconUrl" type="hidden" role="uploadcare-uploader"
               data-image-shrink="" data-images-only="true" data-preview-step="true" data-clearable="true"
               data-multiple="false" data-system-dialog="false" data-crop="800x300 minimum" value="${post?.iconUrl}" />
      </div>
      <div class="col-sm-2">
        <img class="img-thumbnail gallery-header-icon" src="@{getPostIcon(post.id)}">
      </div>
    </div>

    #{fields.relationField bName:'post',name:'tags',values:models.Tag.findAll() , selected:post?.tags , chosen:true /}
    #{a @showTags() , target:'_blank',class:'btn btn-default'}&{'blog.show-tags'}#{/a}
    <br>

    <div class="form-group">
      <label for="post_content">&{'post.content'}</label>
      <textarea class="form-control summernote" name="post.content">${post?.content?.raw()}</textarea>
    </div>

    <div class="form-group">
      <label for="post_content">&{'post.excerpt'}</label>
      <textarea class="form-control summernote" name="post.excerpt">${post?.excerpt}</textarea>
    </div>

    #{fields.checkField bName:'post',name:'isPublished' , value:post?.isPublished /}

    <button type="submit" class="btn btn-primary">&{'blog.save'}</button>
  </fieldset>
  #{/form}

  <hr />

  <div class="panel panel-default">
    <div class="panel-header">
      Attachments
    </div>
    <div class="panel-body">
    #{form @addAttachmentToPost(), method:'POST', enctype:'multipart/form-data'}
      <input type="hidden" name="postId" value="${post.id}">
      #{list post.attachments}
        <div class="form-group">
          <label>&{'post.attachments'} ${_?.fileName} </label>
          <a href="@{removeAttachment(_?.id)}" > Remove</a>
        </div>
      #{/list}
      <div class="form-group">
        <label>&{'post.attachments'}</label>
        <input type="file" class="form-control" name="attachment"  >
      </div>
      <input type="submit" class="form-control btn btn-link">
    #{/form}
    </div>
  </div>
</div>


#{set 'moreStyles'}
  <link rel="stylesheet" href="@{'public/css/jasny-bootstrap.min.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/js/jasny-bootstrap.min.js'}" type="text/javascript" charset="UTF-8"></script>

<!-- Uploadcare widget -->
<script>
  UPLOADCARE_PUBLIC_KEY = '8058bb6092e462aa47dd';
  UPLOADCARE_TABS = 'file camera url facebook gdrive gphotos dropbox instagram evernote';
  UPLOADCARE_PREVIEW_STEP = true;
  UPLOADCARE_CLEARABLE = true;
</script>
<script charset="utf-8" src="https://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
<!--

//-->
#{/set}