#{extends 'admin.html' /} #{set 'title'} &{'blog.newPost.title'} #{/set} #{set 'withSummer'} true #{/set}

<h1 class="page-header">
  ویرایش پست&{'admin.blog.editPost.pageHeader'} <span class="pull-left"> <a href="@{deletePost(post.id)}"
    class="btn btn-danger confirm-target">حذف</a>
  </span>
</h1>
<div class="page-container new-post">
  #{form @updatePost(post.id), method:'POST', enctype:'multipart/form-data'}
  <fieldset>

    <div class="form-group">
      <label for="teaser-icon-input" class="control-label"></label>
      <div class="col-sm-10">
        <input id="teaser-icon-input" name="post.teaserIconUri" type="hidden" role="uploadcare-uploader"
          data-public-key="da6e9343b4ad6b89adc7"
          data-tabs="file camera url facebook gdrive gphotos dropbox instagram evernote flickr skydrive localhistory"
          data-image-shrink="" data-images-only="true" data-preview-step="true" data-clearable="true"
          data-multiple="false" data-system-dialog="false" data-crop="300x300 minimum" />
      </div>
      <img class="img-thumbnail gallery-header-icon" src="@{getPostTeaserIcon(post.id)}">
    </div>

    <div class="form-group">
      <label for="post_title">&{'post.title'}</label>
      <input type="text" class="form-control" id="post_title" name="post.title" placeholder="&{'post.title'}">
    </div>

    <div class="form-group">
      <label for="header-icon-input">تصویر پست&{'admin.blog.newPost.headerIcon.label'}</label>
      <input id="teaser-icon-input" name="post.iconUrl" type="hidden" role="uploadcare-uploader"
        data-public-key="da6e9343b4ad6b89adc7"
        data-tabs="file camera url facebook gdrive gphotos dropbox instagram evernote flickr skydrive localhistory"
        data-image-shrink="" data-images-only="true" data-preview-step="true" data-clearable="true"
        data-multiple="false" data-system-dialog="false" data-crop="800x300 minimum" />
    </div>

    <div class="form-group">
      <label for="post-tags">برچسب‌ها&{'admin.blog.newPost.tags.label'}</label>
      <input id="post-tags" disabled>
    </div>


    <div class="form-group">
      <label for="post_content">&{'post.content'}</label>
      <textarea class="form-control summernote" name="post.content">${post?.content?.raw()}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">&{'blog.save'}</button>
  </fieldset>
  #{/form}

</div>


#{set 'moreStyles'}
  <link rel="stylesheet" href="@{'public/css/jasny-bootstrap.min.css'}">
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/js/jasny-bootstrap.min.js'}" type="text/javascript" charset="UTF-8"></script>

    <!-- Uploadcare widget -->
    <script>
        UPLOADCARE_PUBLIC_KEY = 'da6e9343b4ad6b89adc7';
        UPLOADCARE_TABS = 'file camera url facebook gdrive gphotos dropbox instagram evernote localhistory';
        UPLOADCARE_PREVIEW_STEP = true;
        UPLOADCARE_CLEARABLE = true;
    </script>
    <script charset="utf-8" src="https://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
    <script>
      uploadcare.registerTab('localhistory', function(container, button, dialogApi, settings, name) {
        function loadItems() {
          // Format: UUID isImage size filename
          var items = localStorage.getItem(localKey);
          if ( ! items) {
            return [];
          }
          items = items.split("\n");
          for (var i = 0; i < items.length; i++) {
            var v = items[i].split(' ');
            v.splice(3, v.length, v.slice(3, v.length).join(' '));
            v[1] = !!parseInt(v[1]);
            v[2] = parseInt(v[2]);
            items[i] = v;
          }
          return items;
        }
        function saveItems(items) {
          items = items.slice(0, 100);
          for (var i = 0; i < items.length; i++) {
            var v = items[i].slice();
            v[1] = 0 + v[1];    // bool → int
            items[i] = v.join(" ");
          }
          localStorage.setItem(localKey, items.join("\n"));
        }
        function addItem(fileInfo) {
          var items = loadItems();
          items = $.grep(items, function(v) {
            return v[0] !== fileInfo.uuid;
          });
          var item = [fileInfo.uuid, fileInfo.isImage, fileInfo.size, fileInfo.name];
          items.unshift(item);
          saveItems(items);
        }
        function removeItem(item) {
          var items = loadItems();
          items = $.grep(items, function(v) {
            return v[0] !== item[0];
          });
          saveItems(items);
        }
        function makeItem(data) {
          var html = $('<div class="uploadcare-file-item"></div>').append([
            $('<div class="uploadcare-file-item__preview"></div>').append(
                    data[1]
                            ?
                            $('<img/>', {
                              src: settings.cdnBase + "/" + data[0] + "/-/quality/lightest/" + (
                                      settings.imagesOnly
                                              ? "-/preview/340x340/"
                                              : "-/scale_crop/110x110/center/"
                              )
                            })
                            :
                            $('<div class="uploadcare-file-icon"></div>')
            ),
            $('<div class="uploadcare-file-item__name"></div>').text(data[3]),
            $('<div class="uploadcare-file-item__size"></div>').text(uc.utils.readableFileSize(data[2])),
            $('<div class="uploadcare-file-item__remove"></div>').append(
                    $('<div class="uploadcare-remove"></div>')
                            .on('click', function() {
                              html.remove();
                              removeItem(data);
                            })
            )
          ]).on('click', function(e) {
            dialogApi.addFiles('uploaded', [data[0]]);
            e.preventDefault();
          });
          return html;
        }
        function populate(container) {
          var items = loadItems();
          for (var i = items.length - 1; i >= 0; i--) {
            var item = items[i];
            if (settings.imagesOnly && ! item[1]) {
              continue;
            }
            container.prepend(makeItem(item));
          }
        }
        var localStorage = window.localStorage;
        var localKey = "uploadcare_" + settings.publicKey;
        var $ = uploadcare.jQuery;
        var uc;
        if ( ! localStorage) {
          button.hide();
          return;
        }
        uploadcare.plugin(function(uploadcare) {
          uc = uploadcare;
        });
        dialogApi.fileColl.onAdd.add(function(file) {
          file.done(function(fileInfo) {
            addItem(fileInfo);
          })
        });
        populate($('<div class="uploadcare-file-list"></div>')
                .toggleClass('uploadcare-file-list_table', !settings.imagesOnly)
                .toggleClass('uploadcare-file-list_tiles', settings.imagesOnly)
                .appendTo($('<div class="uploadcare-dialog-padding">\
      <div class="uploadcare-dialog-title">Previous uploaded files</div>\
    </div>')
                        .appendTo(container)));
      });
      UPLOADCARE_LOCALE_TRANSLATIONS = {
        dialog: {tabs: {names: {
          localhistory: 'History'
        }}}
      };
    </script>
<!--

//-->
#{/set}