#{extends 'main.html' /}
#{set 'title'} &{'ratnic.framework.SettingsPageTitle'} #{/set}

<div class="row">
  <div class="col-md-12">
<!--    
    <div class="page-header">
      <h2>&{'ratnic.framework.SettingsTitle'}</h2>
    </div>
-->
      <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active">
          <a href="#gateway-settings" data-toggle="tab">&{'ratnic.ecommerce.GatewaySettings'}</a>
        </li>
        <li>
          <a href="#advanced-settings" data-toggle="tab">&{'ratnic.framework.AdvancedSettings'}</a>
        </li>
      </ul> <!-- /.nav-tabs -->

      <!-- Tab contents -->
      <div class="tab-content">
        <div class="tab-pane fade active in" id="gateway-settings">
          <form class="" action="@{Settings.submit}" method="POST" role="form">
            <fieldset>
            
              <!-- Gateway -->
              <div class="form-group">
                <label class="control-label" for="gateway">&{'ratnic.ecommerce.Gateway'}</label>
                <select id="gateway" name="gateway" class="form-control" disabled>
                  <option value="zarinpal" selected>&{'ratnic.ecommerce.ZarinPal'}</option>
                  <option value="shetab">&{'ratnic.ecommerce.Shetab'}</option>
                </select>
              </div> <!-- /.form-group -->

              <!-- Account ID -->
              <div class="form-group">
                <label class="control-label" for="account_id">&{'ratnic.ecommerce.ZarinPalUniqueKey'}</label>
                <input
                  id="account_id"
                  name="zarinpal_account_id"
                  type="text"
                  class="form-control"
                  value="${zarinpal_account_id}"
                  style="direction: ltr" />
              </div> <!-- /.form-group -->

              <!-- Description -->
              <div class="form-group">
                <label class="control-label" for="description">&{'ratnic.ecommerce.PaymentDescription'}</label>
                  <input
                    id="description"
                    name="zarinpal_description"
                    type="text"
                    class="form-control"
                    value="${zarinpal_description}" />
              </div> <!-- /.form-group -->

              <!-- Template -->
              <div class="form-group">
                <label class="control-label" for="gateway">&{'ratnic.ecommerce.Gateway'}</label>
                <select id="template" name="template" class="form-control" >
                  <option value="template1">Template1</option>
                  <option value="template2">Template2</option>
                </select>
              </div> <!-- /.form-group -->

              <!-- Submit Button -->
              <div class="form-group">
                <button class="btn btn-primary" type="submit" id="submit-tab1">&{'ratnic.framework.SaveSettings'}</button>
              </div> <!-- /.form-group -->
              
            </fieldset>
          </form>
        </div>
        <div class="tab-pane fade" id="advanced-settings">
          <form class="" action="@{Settings.submit}" method="POST" role="form">
            <fieldset>
              
              <!-- Language -->
              <div class="form-group">
                <label class="control-label" for="language">&{'ratnic.framework.DefaultLanguage'}</label>
                <select id="language" name="language" class="form-control">
                  <option value="fa">&{'ratnic.framework.Farsi'}</option>
                  <option value="en">&{'ratnic.framework.English'}</option>
                </select>
              </div> <!-- /.form-group -->

              <!-- Submit Button -->
              <div class="form-group">
                <button class="btn btn-primary" type="submit" id="submit-tab2">&{'ratnic.framework.SaveSettings'}</button>
              </div> <!-- /.form-group -->

            </fieldset>
          </form>
        </div> <!-- /.tab-pane -->
      </div>
    </div>

  <!-- /.col-md-10 -->
</div>
<!-- /.row -->

#{set 'moreScripts'}
<script>
    $(document).ready(function(){
        $("#payment_method").val('${payment_method}');
        $("#language").val('${language}');
        $("#template").val('${template}');
    });
</script>
#{/set}
