<!-- Comment -->
<li class="comment">
  <div>
    <img src="@{'public/img/avatar.png'}" alt="Avatar" class="avatar">

    <div class="comment-meta">
      <span class="author"><a ${_comment?.website ? 'href="_comment?.website"' : ''}>${_comment?.authorName}</a></span> <span class="date">${utils.JalaliDateConverter.formattedPersian(_comment?.publishedAt)}</span>
      <span class="reply"><a class="comment-reply-btn" data-comment-id="${_comment?.id}">پاسخ</a></span>
    </div>

    <div class="comment-body">${_comment?.content}</div>
  </div> 
  #{if _comment?.comments?.size() > 0} 
  <ul class="children">
    #{list items:_comment?.comments }
      <!-- Nested Comment -->
      #{parts.comment comment:_ /}
    #{/list}
  </ul>
  <!-- .children -->
  #{/if}
</li>
