<!-- Comment -->
<li class="comment">
  <div>
    <img src="@{'public/img/avatar.png'}" alt="Avatar" class="avatar">

    <div class="comment-meta">
      <span class="author"><a ${_?.website ? 'href="_?.website"' : ''}>${_?.name}</a></span> <span class="date">${utils.JalaliDateConverter.formattedPersian(_?.publishedAt)}</span>
      <span class="reply"><a href="#">پاسخ</a></span>
    </div>

    <div class="comment-body">${_?.content}</div>
  </div>
*{
          <ul class="children">
            <li class="comment">
              <div>
                <img src="assets/images/avatar_man.png" alt="Avatar" class="avatar">

                <div class="comment-meta">
                  <span class="author"><a href="#">John Doe</a></span> <span class="date"><a href="#">January 22, 2011 at 4:55 pm</a></span>
                  <span class="reply"><a href="#">Reply</a></span>
                </div>
                <!-- .comment-meta -->

                <div class="comment-body">Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu
                  ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</div>
                <!-- .comment-body -->
              </div>
            </li>
          </ul>
          <!-- .children -->
}*
</li>
