<!-- Comment -->
#{if (!_?.deleted && _?.confirmed)}
  <li class="comment">
      <div>
          <img src="@{'public/img/avatar.png'}" alt="Avatar" class="avatar">
          <div class="comment-meta">
              <span class="author"><a ${_comment?.website ? 'href="_comment?.website"' : ''}>${_comment?.authorName}</a></span> <span class="date">${utils.JalaliDateConverter.formattedPersian(_comment?.publishedAt)}</span>
              <span class="reply"><a class="comment-reply-btn" data-comment-id="${_comment?.id}">پاسخ</a></span>
          </div>

          <div class="comment-body">${_comment?.content}</div>
      </div>
      #{secure.check models.AccountRole.ADMINISTRATOR}}
        <div>
          <div class="btn-group" role="group" aria-label="...">
              <a href="" class="btn btn-success"><i class="fa fa-check"></i></a>
              <a href="" class="btn btn-danger"><i class="fa fa-remove"></i></a>
          </div>
        </div>
      #{/secure.check}
      #{if _comment?.children?.size() > 0}
          <ul class="children">
            #{list items:_comment?.children }
              #{blog.comment comment:_ /}
                <!-- Nested Comment -->
            #{/list}
          </ul>
          <!-- .children -->
      #{/if}
  </li>
#{/if}
#{else }
  #{secure.check models.AccountRole.ADMINISTRATOR}}
    <li class="comment not-published">
        <div>
            <img src="@{'public/img/avatar.png'}" alt="Avatar" class="avatar">
            <div class="comment-meta">
                <span class="author"><a ${_comment?.website ? 'href="_comment?.website"' : ''}>${_comment?.authorName}</a></span> <span class="date">${utils.JalaliDateConverter.formattedPersian(_comment?.publishedAt)}</span>
                <span class="reply"><a class="comment-reply-btn" data-comment-id="${_comment?.id}">پاسخ</a></span>
            </div>

            <div class="comment-body">${_comment?.content}</div>
        </div>
        <div>
            <div class="btn-group" role="group" aria-label="...">
                #{if _?.deleted}
                    <a href="" class="btn btn-default"><i class="fa fa-circle"></i></a>
                #{/if}
                #{elseif _?.confirmed}
                    <a href="" class="btn btn-success"><i class="fa fa-check"></i></a>
                #{/elseif}
                #{else }
                    <a href="" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                #{/else}
            </div>
        </div>
      #{if _comment?.children?.size() > 0}
          <ul class="children">
            #{list items:_comment?.children }
              #{blog.comment comment:_ /}
                <!-- Nested Comment -->
            #{/list}
          </ul>
          <!-- .children -->
      #{/if}
    </li>

  #{/secure.check}
#{/else}
