#{if _as!="full"} *{ show it on home or mini view }*
  <article class="post">
    <header class="entry-header">
      <div class="entry-meta">
          <span class="posted-on"><time class="entry-date published" date="2013-09-27">
            ${utils.JalaliDateConverter.formattedPersian(_post?.publishedAt)}</time>
          </span>
      </div>
      <h1 class="entry-title">
        <a href="@{Blog.showBlogPost(_post?.id)}" rel="bookmark">${_post?.title}</a>
      </h1>
    </header>
    <div class="entry-content">
      <p>
        <img src="@{Blog.getPostIcon(_post?.id)}" alt="Post icon"></img>
      </p>
      ${_post?.createExcerpt()?.raw()}
      <a href="@{showBlogPost(_post?.id)}" class="more-link">ادامهٔ مطلب&#8230;</a>
    </div>
  </article>
#{/if}
#{else}  *{  show full post }*
  <article class="post">
    <header class="entry-header">
      <div class="entry-meta">
        <span class="posted-on">
          <time class="entry-date published" date="2013-06-17">${utils.JalaliDateConverter.formattedPersian(_post?.publishedAt)}</time>
        </span>
      </div>
      <h1 class="entry-title">
        <a href="@{Blog.showBlogPost(_post?.id)}" rel="bookmark">${_post?.title}</a>
        <a href="@{Admin.updatePost(_post?.id)}" class="btn btn-default pull-right">&{'blog.post.edit'}</a>
      </h1>

    </header>
    <div class="entry-content">
      <p>
        <img src="@{Blog.getPostIcon(_post?.id)}" alt="Post icon"></img>
      </p>
    ${_post?.content?.raw()}
    </div>
  </article>
  <!-- #post-## -->
#{/else}

