#{extends 'main2.html' /} #{set title:'Home' /}

<div class="row topspace">
  <div class="col-sm-8 col-sm-offset-2">

    <article class="post">
      <header class="entry-header">
        <div class="entry-meta">
          <span class="posted-on"><time class="entry-date published" date="2013-06-17">${utils.JalaliDateConverter.formattedPersian(post?.publishedAt)}</time></span>
        </div>
        <h1 class="entry-title">
          <a href="@{Blog.showBlogPost(post.id)}" rel="bookmark">${post?.title}</a>
          <a href="@{updatePost(post.id)}" class="btn btn-default pull-right">ویرایش</a>
        </h1>

      </header>
      <div class="entry-content">
        <p>
          <img src="@{Blog.getPostIcon(post.id)}" alt="Post icon"></img>
        </p>
        ${post.content.raw()}
      </div>
    </article>
    <!-- #post-## -->

  </div>
</div>
<!-- /row post  -->

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <div id="comments">
      <h3 class="comments-title">${post?.comments?.size()} &{'blog.comments'}</h3>
      <a href="#comment-form" class="leave-comment">&{'blog.leave-comment'}</a>

      <ol class="comments-list">
      #{list post.comments}
        #{blog.comment _ /}
      #{/list}
      </ol>

      <div class="clearfix"></div>

      <nav id="comment-nav-below" class="comment-navigation clearfix" role="navigation">
        <div class="nav-content">
          <div class="nav-previous">&larr; Older Comments</div>
          <div class="nav-next">Newer Comments &rarr;</div>
        </div>
      </nav>
      <!-- #comment-nav-below -->


      <div id="respond">
        <h3 id="reply-title">&{'blog.leave-comment'}</h3>
        <form action="@{sendComment(post.id)}" method="post" accept-charset="utf-8" id="commentform" class="">
          <div class="form-group">
            <label for="inputName">Name</label> <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address <i class="text-danger">*</i></label> <input type="email" class="form-control"
              id="inputEmail" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="inputWeb">Website</label> <input type="nane" class="form-control" id="inputWeb" placeholder="http://">
          </div>
          <div class="form-group">
            <label for="inputComment">Comment</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-8 text-right">
              <button type="submit" class="btn btn-action">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /respond -->
    </div>
  </div>
</div>
<!-- /row comments -->
<div class="clearfix"></div>
