#{extends 'main.html' /}
#{set title:'Home' /}

    <div class="col-sm-9 col-sm-offset-3">
      <h1 class="page-header">بلاگ</h1>
      <div class="page-container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <article class=" blog-teaser">
              <header>
                <img src="@{'public/img/cat.png'}" alt="A Cat">
                <h3>
                  <a href="blog-detail.html">تمسخر رونالدو توسط روزنامه آلمانی</a>
                </h3>
                <span class="meta">نوشته‌شده توسط احمد، ۲۷ خرداد ۱۳۹۳</span>
                <hr>
              </header>
              <div class="body">روزنامه بيلد آلمان پس از پيروزي ژرمن‌ها مقابل پرتغال با نتيجه چهار بر صفر با
                انتشار تصاويري مونتاژ شده از توماس مولر، فيليپ لام و يواخيم لو به تمسخر کريستيانو رونالدو و خوشحالي او
                در فينال ليگ قهرمانان اروپا پرداخته است. رونالدو در ديدار شب گذشته تحت تاثير بازي ژرمن‌ها قرار داشت و
                نتوانست بازي خوبي را به نمايش بگذارد.</div>
              <div class="clearfix">
                <a href="@{showBlogPost()}" class="btn btn-tales-one">ادامهٔ مطلب</a>
              </div>
            </article>
          </div>

          <div class="col-md-6 col-sm-6">
            <article class="blog-teaser">
              <header>
                <img src="@{'public/img/hands.png'}" alt="Hands">
                <h3>
                  <a href="blog-detail.html">سوسيچ: اکنون همه چيز در دستان ما است</a>
                </h3>
                <span class="meta">نوشته‌شده توسط احمد، ۲۷ خرداد ۱۳۹۳</span>
                <hr>
              </header>
              <div class="body">سافت سوسيچ پس از تساوي ايران مقابل نيجريه در يک بازي بدون گل اعلام کرد: همه چيز در
                دستان ما است. به نقل از فارس، سوسيچ که تيمش در اولين مسابقه خود در گروه F با نتيجه دو بر يک مغلوب
                آرژانتين شد، پس از تساوي بدون گل ايران و نيجريه در ديگر ديدار اين گروه اظهار داشت: بازي دو تيمي را تماشا
                کردم که مقابل آنها مشکلات فراواني خواهيم داشت. وي ادامه داد: تساوي بدون گل نتيجه خوبي براي ما است.
                مهم‌ترين مسئله اين است که هيچ يک از دو تيم به پيروزي نرسيدند و اين به معناي آن است که با چهار امتياز هم
                مي‌توانيم به دور بعد صعود کنيم. سرمربي بوسني و هرزگوين خاطرنشان کرد: بنابراين در صورتي که در دو بازي
                بعدي خود شکست نخوريم، شانس صعود خواهيم داشت. هنوز هيچ چيزي مشخص نشده است. همه چيز در دستان ما است. بوسني
                و هرزگوين در بازي بعدي خود در روز شنبه بايد به مصاف نيجريه برود؛ در حالي که ايران مقابل آرژانتين بازي
                خواهد کرد.</div>
              <div class="clearfix">
                <a href="blog-detail.html" class="btn btn-tales-one">ادامهٔ مطلب</a>
              </div>
            </article>
          </div>

        </div>



        <p style="min-height: 800px"></p>

      </div>
    </div>
