#{extends 'main.html' /}
#{set title:'Home' /}

      <!-- blog main -->
      <div class="col-sm-9 col-sm-offset-3">
        <div class="container-fluid">
          <div class="row">
            <!-- blog post -->
            <div class="col-md-12 blog-main">
              <div class="blog-post-area">
                <article class="blog-post">
                  <header>
                    <h1>خیلی از آن ها متنفر نباش</h1>
                    <div class="lead-image">
                      <img src="@{'public/img/hands-big.png'}" alt="Hands" class="img-responsive">
                      <div class="meta clearfix">

                        <div class="author">
                          <i class="fa fa-user"></i> <span class="data">آرش رادمنش</span>
                        </div>
                        <div class="date">
                          <i class="fa fa-calendar"></i> <span class="data"> ۴ مهر ۱۳۸۷ </span>
                        </div>
                        <div class="comments">
                          <i class="fa fa-comments"></i> <span class="data"><a href="#comments"> ۲ نظر </a></span>
                        </div>
                      </div>
                    </div>
                  </header>
                  <div class="body">
                    <p>مثلن می توانستم بگویم،"هیچ مقدار پولی در دنیا نمی تواند آن دختر شش ساله را به زندگی
                      بازگرداند،هرچند،کمپانی ما غرامتی به خانواده اش می پردازد." من می توانستم این کلمات را به
                      انگلیسی،هندی،و عربی –اما نه اردو— بگویم.</p>
                    <p>ملیت من هندی است،اما خیلی از راننده ی پاکستانی متنفر نیستم.</p>
                    <p>عمومن،من پاکستانی ها را دوست ندارم،اما می توانم با آن ها کار کنم،چون من یک حرفه ای هستم. و با
                      این وجود،هنوز اردو یاد نگرفته ام.</p>
                    <p>چرا نه؟</p>
                    <p>شاید فکر کنید اگر اردو یاد گرفته بودم جایی به دردم می خورد.</p>
                    <p>اگر آن روز اردو بلد بودم،می توانستم با راننده ی پاکستانی صحبت کنم. می توانستم از او
                      بپرسم،"چرا بطری آب را به سوی آن دختر کوچک پرتاب کردی؟" اما چیزی که شما درک نمی کنید این است که او
                      مطمئنن به من دروغ می گفت،مثلن می گفت که بطری آب تصادفن از پنجره ی کامیون به بیرون پرتاب شده است.
                      یا شاید می گفت که او بطری آب را بلند و به پیاده رو پرتاب کرده است و دختر حریصانه به طمع این که
                      بتواند چیزهای دیگری از او بسلفد،بی احتیاط به سوی خیابان دویده است.اما همان طور که می دانید،من نمی
                      دانم که مرد پاکستانی، اگر شخصن از او می پرسیدم، چه ها به من هندی می گفت. زیرا من هرگز به خودم زحمت
                      یادگیری اردو را نداده ام—من هندی به زبان مرد پاکستانی حرف نمی زنم.</p>
                    <p>من فقط ترجمه ای را دارم که راننده ی دیگری اهل شمال هند—که به حد کافی اردو می دانست—برایم به
                      هندی ترجمه کرده است.وقتی جملات را به انگلیسی ترجمه کردم،سربازان آمریکایی داستان مرد پاکستانی را
                      حقیقت مسلم دانستند،چون آمریکایی ها نمی دانستند که پاکستانی ها،به عنوان یک ملت،به راحتی دروغ می
                      گویند،به ویژه وقتی یافتن مقصر مد نظر باشد،و زن ها درحال شیون و زاری باشند،و بسیاری از مردم در
                      جستجوی این باشند که از اتفاقی که افتاده سر در بیاورند،و ریسک و مخاطره در کار باشد، و هیچ انسان
                      عاقلی نمی خواهد به منحرف کردن دختری شش ساله به سمت مسیر کاروان کامیون های درحال گذر متهم شود—چه
                      برسد به پاکستانی ما که چنین بی دقتی مفتضحی مرتکب شده است.</p>
                    <p>مثلن می توانستم بگویم ،"خسارت کامیون هجده چرخی که به دختر شش ساله ی عراقی زد بسیار ناچیز
                      برآورد می شود." من می توانستم این کلمات را به انگلیسی،هندی،و عربی –اما نه اردو— بگویم.</p>
                    <p>این که نام من چیست چندان مهم نیست.من هندی هستم. هندی چیزی است که شما به خاطر خواهید سپرد.
                      هندی چیزی است که وقتی به من نگاه کنید آن را خواهید دید.هندی چیزی است که اگر سیلاب هاب اسمم را تلفظ
                      کنید آن را خواهید چشید. هندی چیزی است که وقتی غذای محبوبم را خورده ام آن را در حالی که از منافذ
                      تنم بیرون می زند خواهید بویید. من هندی هستم، اما وقتی یک هندی به زبان های بسیاری صحبت می کند دیگر
                      نمی تواند پشت ملیتش پنهان شود. این وظیفه ی من است که با اقوام مختلف ارتباط برقرار کنم. آن روز این
                      وظیفه ی من بود که سربازان آمریکایی را به جایی راهنمایی کنم که مطمئن باشند کاروان به موقع و به
                      سلامت خواهد رسید. بله، ضمنن این هم وظیفه ی من بود که مطمئن باشم راننده هایم—پاکستانی یا غیر
                      پاکستانی—بطری های آب را به سوی دختران کوچک تشنه که از آن سوی خیابان با ولع دست تکان می دادند پرتاب
                      نکنند، و همه ی راننده ها قواعد کار ما را آشنا باشند.</p>
                    <p>شاید—ممکن است شما اشاره کنید— که این وظیفه ی من بود که در آن روز اردو بلد باشم، اما من نمی
                      توانم بفهمم که این موضوع در نهایت چه کمکی می توانست به پایان ماجرا بکند.آن جا راننده ی دیگری بود
                      که کار ترجمه را انجام داد،و از آن جا که من اردو نمی دانستم،توانستم خونسردی و آرامشم را حفظ کنم،چون
                      مجبور نبودم سعی کنم حرف های پاکستانی را باور کنم.من مجبور نبودم لب زدن او را تماشا کنم.مجبور نبودم
                      به چشم هایش نگاه کنم.من فقط مجببور بودم به کلماتی که در گزارش آمده است نگاه کنم،و با سربازان
                      آمریکایی صحبت کنم که از روی وظیفه حرف های راننده پاکستانی را باور کردند.</p>
                    <p>مثلن می توانستم بگویم،"افسوس می خورم که وقتی داشتم کنار جسد دختر شش ساله ی عراقی ترجمه می
                      کردم،هیچ احساس بدی نداشتم،اما حسرت کمی بعدتر آمد و از آن پس با من باقی ماند—به ویژه وقتی به عکس
                      فرزندان خودم نگاه کردم."</p>
                    <p>این چیزی است که از بعد تصادف فکرم را مشغول کرده است: وقتی خودم بچه بودم، بیرون دهلی نو با
                      دوستانم فوتبال بازی می کردیم.پس از حدود یک ساعت لگد زدن به توپ و دویدن،توپ(که تنها توپی بود که کل
                      گروه ما بچه ها داشتیم) سرانجام از بین دو کپه لباسی که با آن دروازه را درست کرده بودیم عبور کرد، و
                      دوستم-- که دروازه بان و مسئول گرفتن توپ بود—به خیابان دوید تا توپ را بیاورد و نزدیک بود با ماشینی
                      برخورد کند.راننده کوبید روی ترمز و درست در فاصله ی یک متری دوستم که وسط خیابان میخ شده بود
                      ایستاد.این ترجمه ی چیزی است که راننده با فریاد درحالی که سرش را از پنجره بیرون آورده بود گفت:
                      "دفعه ی بعد زیرت می گیرم.دفعه ی بعد ترمز نمی کنم." کلمات راننده هنوز به وضوح در ذهنم مانده هست،حتی
                      باوجود آن که آن روز همه ی کلمات را به خوبی نشنیده بودم. هیچ کدام از ما حرف راننده را به عنوان یک
                      تهدید جدی درنظر نگرفتیم،بلکه بیشتر برایمان حالت یک صدای پس زمینه برای آن اتفاق را داشت،و ما بعد از
                      آن تا مدت ها به تعقیب توپ ها در خیابان ها ادامه دادیم. پسر دروازه بان به سوی ما دوید و مردی که
                      تهدیدش کرده بود حرکت کرد و رفت. ما بازی را تمام کردیم.هیچ کدام از بچه هایی که آن روز حاضر بودند
                      سخنی راجع به تهدید و ترس نگفتند. خطر حتی برای مان مسجل نشده بود،هیچ ترسی وجود نداشت. تنها اکنون که
                      به عنوان یک مرد به گذشته می نگرم،نیاز به ترس دربرابر حرف های مرد راننده را به آن صحنه ضمیمه می
                      کنم.</p>
                    <p>من هنوز در ذهن خود آن راننده را که تقریبن پسر دروازه بان را زیر گرفت، پاکستانی می
                      بینم،درحالیکه می دانم این غیرممکن است چون در آن صورت --من به عنوان یک کودک هندی—نمی توانستم حرف
                      های مرد را که به زبان اردو گفته شده،" دفعه ی بعد زیرت می گیرم.دفعه ی بعد ترمز نمی کنم،" به انگلیسی
                      ترجمه کنم،چون من زبانی را که پاکستانی ها صحبت می کنند نمی دانم،و در همسایگی ما هم هیچ پاکستانی
                      وجود نداشت. با این وجود هنوز در خاطرات من آن راننده پاکستانی است، و همینطور هم خواهد ماند.</p>
                    <p>می توانستم بگویم،مثلن،"مرگ دختر شش ساله ی عراقی به شدت غمناک است،اما ناچیز به نظر می رسد. این
                      چیزها همه روزه در سراسر دنیا رخ می دهد. حتی وقتی هیچ جنگی در میان نیست تصادفات اتفاق می افتند."</p>
                    <p>در پیش بینی این نوع موقعیت ها،به من آموخته بودند که به عزاداران تسلیت بگویم،پس من به عراقی
                      هایی که آن جا جمع شده بودند تسلیت گفتم. به عربی گفتم،"متأسفم، از صمیم قلب عمیقن متأسفم." اما
                      صادقانه بگویم،من فقط برای این واقعن متأسف بودم که کاروانم مجبور به توقف برای آن روز شده بود،و این
                      که توسط عده ی بسیاری مردم عصبی،هیستریک و مغشوش محاصره شده بودم.</p>
                    <p>آن جا سگ کوچکی هم بود که در تلاش بود تا پتویی را که جسد دختر در آن پیچیده شده بود بو بکشد،و
                      بالاخره یک مرد عراقی لگدی حواله ی او کرد.سگ با صدای بسیار بلندی نالید. آن جا پر بود از بزغاله و
                      بچه های کوچک که همه جا بودند.مثل همیشه دسته های کودکان آزادانه به این سو و آن سو می رفتند.زنان
                      سوگواری می کردند،مردها قیافه های خشن و سختی به خود گرفته بودند،با نگاه های خیره،صحبت کنان،به تفنگ
                      های بزرگ سربازان جوان آمریکایی زل زده بودند.</p>
                    <p>من وقتی دختر شش ساله ی عراقی کشته شد آن جا نبودم. بعدتر به صحنه ی تصادف رسیدم. این تصور من
                      است: بطری آب از دستان پاکستانی رها شد. وقتی بطری به سوی آسمان اوج گرفت،ماهیچه های پای دخترک درگیر
                      شد—درست مثل ماهیچه های یک پسر که در تعقیب توپی است که مسیرش کاملن نامعلوم است.زمانی که او برای
                      گرفتن بطری آب پرید،و تنها فکرش این بود که شانس به دست آوردن آب تمیز را از دست ندهد، تریلر هجده چرخ
                      غول آسای درحال حرکت را ندید،و...</p>
                    <p>هریک از آن همه کودکی که آن جا بودند می توانست آن کودکی باشد که به سوی خیابان دوید. بچه ها نمی
                      توانند درک کنند که مرگ حقیقت دارد،نه بیشتر از درکی که آن سگ زوزه کش،وقتی تصمیم گرفت پتوی حاوی جسد
                      دختر عراقی را بو بکشد،از لگدی که در پی خواهد آمد داشت.</p>
                    <p>البته این چندان تقصیر پاکستانی هم نبود.او سعی داشت آب تمیز را با مردم تقسیم کند،کاری که هر
                      انسان شریفی انجام می دهد. ممکن است دیگری تا این اندازه بی دقت نباشد،یا پرتاب دست بهتری داشته باشد،
                      اما این ها به راستی تقصیر پاکستانی نیست. من خیلی از پاکستانی متنفر نیستم. وقتی او را در ذهنم تصویر
                      می کنم—سر پایین،لب ها به هم فشرده،کف دست ها محکم چسبیده به ران ها،ترسان از همه کس و همه چیز— ازش
                      خوشم نمی آید،اما از او متنفر هم نیستم. به هیچ وجه خیلی از او متنفر نیستم.</p>
                    <p>کودکان خودم آموزش دیده اند که از خیابان دوری کنند.من به آن ها درباره ی دختر شش ساله ی عراقی
                      که حالا مرده است گفته ام. در نامه ای برایشان نوشتم،"این اتفاق ممکن بود در دهلی نو برای شما اتفاق
                      بیفتد. ممکن بود به همین راحتی راننده ای هندی شما را زیر بگیرد." من به فرزندانم راجع به پیکر کوچک
                      دختر که در پتویی پیچیده شده بود گفتم. به بچه هایم گفتم این اتفاقی است که برای کسی می افتد که در
                      عبور از خیابان بی دقتی می کند. همچنین به آن ها درباره ی پاکستانی که بطری آب را انداخته بود گفتم،
                      که او سعی داشت کار خوبی انجام دهد—که خارجی ها ممکن است چیزهای خوبی تعارف کنند— اما این چیزها و
                      کارهای خوب اکثر مواقع بد از کار در می آیند.به آن ها گفتم،"از خارجی ها به راحتی چیزی قبول نکنید."</p>
                    <p>فرزندان من درحال آموختن انگلیسی و عربی هستند،اما نه اردو.من برای آن ها نامه هایم را به تمامی
                      انگلیسی می نویسم.ضمنن در نامه هایم از عبارات عربی عراقی استفاده می کنم،به اضافه ی راهنمای ترجمه تا
                      همسرم بتواند به آن ها آموزش دهد. من به آن ها می گویم که نباید از پاکستانی ها متنفر باشند،اما فکر
                      نمی کنم هرگز از آنها بخواهم که اردو یاد بگیرند. تنفر واژه ی نیرومندی است،بسیار قدرتمند برای
                      کودکان—بسیار قدرتمند حتی برای مردان بزرگ. به کودکانم می گویم،"مجبور نیستید پاکستانیها را دوست
                      داشته باشید،اما خیلی از آن ها متنفر نباشید."</p>
                  </div>
                </article>

                <aside class="social-icons clearfix">
                  <a href="#" class="social-icon color-one">
                    <div class="inner-circle"></div> <i class="fa fa-twitter"></i>
                  </a> <a href="#" class="social-icon color-two">
                    <div class="inner-circle"></div> <i class="fa fa-google-plus"></i>
                  </a> <a href="#" class="social-icon color-three">
                    <div class="inner-circle"></div> <i class="fa fa-facebook"></i>
                  </a>
                </aside>

                <aside class="comments" id="comments">
                  <hr>

                  <h2>
                    <i class="fa fa-comments"></i> ۲ نظر
                  </h2>

                  <article class="comment">
                    <header class="clearfix">
                      <img src="@{'public/img/avatar.png'}" alt="A Smart Guy" class="avatar">
                      <div class="meta">
                        <h3>
                          <a href="#">جینکس کول</a>
                        </h3>
                        <span class="date"> ۲ اردیبهشت ۱۳۹۲ </span> <span class="separator"> - </span> <a
                          href="#create-comment" class="reply-link">پاسخ</a>
                      </div>
                    </header>
                    <div class="body">ایول داداش دمت گرم یه سری هم به بلاگ من بزن: http://jinx.blog.con</div>
                  </article>

                  <article class="comment reply">
                    <header class="clearfix">
                      <img src="@{'public/img/avatar.png'}" alt="A Smart Guy" class="avatar">
                      <div class="meta">
                        <h3>
                          <a href="#">بی‌شعور</a>
                        </h3>
                        <span class="date"> ۳ اردیبهشت ۱۳۹۲ </span> <span class="separator"> - </span> <a
                          href="#create-comment" class="reply-link">پاسخ</a>
                      </div>
                    </header>
                    <div class="body">من هم سر می‌زنم جیگر، چرا فکر می‌کنی وقتی ندارم که کامل تلف کنمش!</div>
                  </article>

                  <article class="comment ">
                    <header class="clearfix">
                      <img src="@{'public/img/avatar.png'}" alt="A Smart Guy" class="avatar">
                      <div class="meta">
                        <h3>
                          <a href="#">جینکس کول</a>
                        </h3>
                        <span class="date"> ۴ اردیبهشت ۱۳۹۲ </span> <span class="separator"> - </span> <a
                          href="#create-comment" class="reply-link">پاسخ</a>
                      </div>
                    </header>
                    <div class="body">خوب بابا بی فرهنگ</div>
                  </article>
                </aside>
                <aside class="create-comment" id="create-comment">
                  <hr>

                  <h2>
                    <i class="fa fa-heart"></i> نظر بدهید
                  </h2>

                  <form action="#" method="get" accept-charset="utf-8">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" name="name" id="comment-name" placeholder="Name"
                          class="form-control input-lg">
                      </div>
                      <div class="col-md-6">
                        <input type="email" name="email" id="comment-email" placeholder="Email"
                          class="form-control input-lg">
                      </div>
                    </div>

                    <input type="url" name="name" id="comment-url" placeholder="Website" class="form-control input-lg">

                    <textarea rows="10" name="message" id="comment-body" placeholder="Your thoughts..."
                      class="form-control input-lg"></textarea>

                    <div class="buttons clearfix">
                      <button class="btn btn-xlarge btn-tales-two">انصراف</button>
                      <button type="submit" class="btn btn-xlarge btn-tales-one">ثبت</button>
                    </div>
                  </form>
                </aside>
              </div>
            </div>


            <!-- Blog side column -->
<!--
             <aside class="col-md-3 blog-aside">

              <div class="aside-widget">
                <header>
                  <h3>باز هم بخوانید...</h3>
                </header>
                <div class="body">
                  <ul class="tales-list">
                    <li><a href="index.html"> مراقب آدم‌کوچولوها باشید! برخلاف ظاهر آرام‌شان نسبت به کشتن شما
                        در موقعیت مناسب هرگز دچار تردید نمی‌شوند. </a></li>
                    <li><a href="#"> ترجمه‌ی جدید در قند هندوانه! </a></li>
                    <li><a href="#"> بررسی جریان‌های جنجال‌برانگیز داستان‌نویسی در قرن بیست و یکم و تولد نسل
                        جدید و کاملا متفاوت در دنیای روایت و داستان‌نویسی. </a></li>
                    <li><a href="#"> چرا بیشتر انسان‌ها معمولا از هم‌زاد پنداری با اودیپ سراپا غرق شادی و
                        سرخوشی می‌شوند. </a></li>
                  </ul>
                </div>
              </div>

              <div class="aside-widget">
                <header>
                  <h3>انتخاب نویسنده</h3>
                </header>
                <div class="body">
                  <ul class="tales-list">
                    <li><a href="index.html"> چگونه خدای خالقان اثرات ادبی بزرگ جهان شویم! تمام کسانی که به لقب
                        خدایی رسیده‌اند، همگی کارهای یکسانی را به‌صورت روزانه انجام می‌دادند... </a></li>
                    <li><a href="#"> ترجمه‌ی جدید در قند هندوانه! </a></li>
                    <li><a href="#"> چرا بیشتر انسان‌ها معمولا از هم‌زاد پنداری با اودیپ سراپا غرق شادی و
                        سرخوشی می‌شوند. </a></li>
                    <li><a href="#"> مراقب آدم‌کوچولوها باشید! برخلاف ظاهر آرام‌شان نسبت به کشتن شما در موقعیت
                        مناسب هرگز دچار تردید نمی‌شوند. </a></li>
                    <li><a href="#"><strong> سامانه راه افتاد </strong></a></li>
                  </ul>
                </div>
              </div>

              <div class="aside-widget">
                <header>
                  <h3>برچسب‌ها</h3>
                </header>
                <div class="body clearfix">
                  <ul class="tags">
                    <li><a href="#">داستان کوتاه</a></li>
                    <li><a href="#">رمان</a></li>
                    <li><a href="#">ترجمه</a></li>
                    <li><a href="#">مقاله</a></li>
                    <li><a href="#">یادداشت</a></li>
                    <li><a href="#">ادبیات قرن بیستم آمریکا</a></li>
                    <li><a href="#">کورت ونه‌گات</a></li>
                  </ul>
                </div>
              </div>
            </aside>
 -->
          </div>

        </div>
      </div>