<!DOCTYPE html>

<html>
<head>
  <title>#{get 'title' /}</title>
  <meta charset="${_response_encoding}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author"      content="Armam Radmanesh (radmanesh@gmail.com)">
  
  *{<link href="@{'public/css/bootstrap.no-icons.min.css'}" rel="stylesheet">}*
  <link href="@{'public/css/bootstrap-rtl.min.css'}" rel="stylesheet">
  <link rel="stylesheet" href="@{'public/css/font-awesome.min.css'}">

  #{get 'moreStyles' /}

  <link rel="stylesheet" media="screen" href="@{'public/css/arashradmanesh.frontend.min.css'}">
  
  <link rel="shortcut icon" type="image/png" href="@{'public/img/favicon.png'}">
  
  <script src="@{'public/js/jquery.min.js'}"></script>

</head>
<body>
<header id="header">
	<div id="head" class="parallax" parallax-speed="1">
		<h1 id="logo" class="text-center">
			*{<img class="img-circle" src="@{'public/img/logo2.png'}" alt="">}*
			<!-- <span class="title">وبلاگ آرش رادمنش</span> -->
            <img class="title" src="@{'/public/img/logo-title.png'}" alt="" style="max-width: 270px; height: auto;">
			<span class="tagline">
                        انگیزهٔ یک آفرینندهٔ خلاق از تمایلش به کسب نتیجه حاصل می‌شود، نه به میل سرکوب دیگران.
                <br />
                <a href="mailto:arash.radmanesh@gmail.com">arash.radmanesh@gmail.com</a>
            </span>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">**حالت منو**</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			
			<div class="navbar-collapse collapse">
				
				<ul class="nav navbar-nav">
					<li><a href="@{Application.index()}">خانه</a></li>
					<li><a href="#">دربارهٔ من</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">انتشارات <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">متفرقه</a></li>
							<li><a href="#">متن‌گاه</a></li>
							<li><a href="#">موس‌حکایت گروهی</a></li>
						</ul>
					</li>
					<li class="active"><a href="@{Blog.index()}">بلاگ</a></li>
          #{if controllers.security.Security.connectedAccount()?.role?.ordinal() >= models.AccountRole.ADMINISTRATOR.ordinal()}
            <li><a href="@{Settings.index()}">تنظیمات</a></li>
            <li><a href="@{Admin.index()}">مدیریت</a></li>
          #{/if}
          #{ifnot controllers.security.Security.isConnected() }
            <li><a href="@{security.Secure.login()}" class="">ورود</a></li>
          #{/ifnot}
				</ul>


			</div><!--/.nav-collapse -->			
		</div>	
	</nav>
</header>

<main id="main">

    <div class="container">
    
        #{doLayout /}

    </div><!-- /container -->

</main>

<footer id="footer" class="topspace">
    <div class="container">
        <div class="row">
            <div class="col-md-4 widget">
                <h3 class="widget-title">مشخصات تماس</h3>
                <div class="widget-body">
                    <p>+98 91x xxx xxxx<br>
                        <a href="mailto:#">arash.radmanesh@gmail.com</a><br>
                        <br>
                        موس‌موس نشر
                    </p>    
                </div>
            </div>

            <div class="col-md-4 widget">
                <h3 class="widget-title">دنبالم کنید</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href=""><i class="fa fa-twitter fa-2"></i></a>
                        <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                        <a href=""><i class="fa fa-github fa-2"></i></a>
                        <a href=""><i class="fa fa-facebook fa-2"></i></a>
                    </p>
                </div>
            </div>

            <div class="col-md-4 widget">
                <h3 class="widget-title">موس‌حکایت گروهی</h3>
                <div class="widget-body">
                    <p> ....با مشارکت و ثبت موس‌موس نبشته‌هایمان فرم جدیدی از روایت -موس‌حکایت گروهی- را ایجاد کنیم  ....با مشارکت و ثبت موس‌موس نبشته‌هایمان فرم جدیدی از روایت -موس‌حکایت گروهی- را ایجاد کنیم  ....با مشارکت و ثبت موس‌موس نبشته‌هایمان فرم جدیدی از روایت -موس‌حکایت گروهی- را ایجاد کنیم </p>
                    <p> ....با مشارکت و ثبت موس‌موس نبشته‌هایمان فرم جدیدی از روایت -موس‌حکایت گروهی- را ایجاد کنیم  ....با مشارکت و ثبت موس‌موس نبشته‌هایمان فرم جدیدی از روایت -موس‌حکایت گروهی- را ایجاد کنیم  ....با مشارکت و ثبت موس‌موس نبشته‌هایمان فرم جدیدی از روایت -موس‌حکایت گروهی- را ایجاد کنیم </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 widget">
                <div class="widget-body">
                    <p class="text-center">
                        Copyright &copy; ۱۳۹۳, آرش رادمنش<br>
                         
                        طراح سایت: <a href="#" rel="designer">آرمان رادمنش</a> </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="@{'public/js/bootstrap.min.js'}"></script>
  <script src="@{'public/js/template.js'}"></script>
  
  #{get 'moreScripts' /}
  
</body>
</html>
